.chart{
    margin-bottom: 23px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    background-color: white;
    border-radius:7px ;
}
.chartTitle{
    margin-bottom: 20px;
    margin-bottom: 20px;
    margin-bottom: 20px;
    margin-bottom: 20px;
}