.app-container {
  background-color: rgb(255, 255, 255);
  height: 100%;
  padding: 10px 20px 10px 20px;
  /* display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem; */
}
.table{
border-radius: 15px;
}
/* table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;

} */

th,
td {
  /* border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px; */
}

/* th {
  background-color: rgb(236, 242, 245);
  border: 1px solid #ffffff;

} */

/* td {
  background-color: rgb(250, 252, 253);
  border-top: 1px solid #cac3c3;
  
} */
/* 
form {
  display: flex;
  gap: 5px;
} */

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

/* form * {
  font-size: 28px;
} */

.input{
  color: #000;
}
